//@import "../../node_modules/normalize.css/normalize";
// @import "../../node_modules/slick-carousel/slick/slick";
// @import"../../node_modules/magnific-popup/dist/magnific-popup";
@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 30px;
  right: 0;
  &_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    text-transform: uppercase;
    line-height: 17px;
    font-size: 15px;
    @extend %ubuntu-medium;
  }
  &_btn {
    color: #fff;
    background-color: transparent;
    padding: 6px 28px;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-right: 8px;
    text-transform: uppercase;
    cursor: pointer;
    transform: all 0.3s;
    &:hover {
      color: #000;
      background-color: #fff;
    }
  }
  &_phone {
    font-size: 16px;
    line-height: 18px;
    @extend %ubuntu-bold;
  }
}

.menu {
  &_list-item {
    display: inline-block;
    & + .menu_list-item {
      // withouut first element!!!
      padding-left: 20px;
    }
  }
}

.top {
  background-image: url("../images/top_bg.png");
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(
      45.97% 54.43% at 50% 45.57%,
      rgba(23, 26, 28, 0) 50.28%,
      rgba(23, 26, 28, 0.00225974) 50.29%,
      rgba(4, 5, 5, 0.820343) 58.72%,
      rgba(5, 5, 6, 0.792703) 80.08%,
      #000000 87.89%
    );
    opacity: 0.4;
  }
  &_wrapper {
    display: flex;
    align-items: flex-end;
  }
  &_inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  &_title {
    line-height: 115px;
    font-size: 96px;
    @extend %sf-semibold;
    margin-bottom: 25px;
  }
  &_text {
    margin: 25px 0 35px;
    max-width: 325px;
  }
  &_social-item {
    display: inline-block;
    margin: 0 25px;
  }
  &_social-link {
    opacity: 0.5;
    transition: all 0.3s;
    &:hover {
      opacity: 1;
    }
  }
}

.products {
  &_inner {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
  }
  &_text {
    max-width: 440px;
    p {
      margin-bottom: 30px;
    }
  }
  &_slider-box {
    position: relative;
    padding-top: 110px;
  }
  &_slider-text {
    width: 285px;
    position: absolute;
    text-align: right;
    font-size: 24px;
    line-height: 28px;
    @extend %ubuntu-medium;
    bottom: 30px;
    left: -250px;
    z-index: 5;
  }
  &_slider {
    max-width: 560px;
    &::before {
      content: "";
      position: absolute;
      width: 560px;
      height: 276px;
      border: 4px solid #fff;
      top: -15px;
      right: -17px;
    }
  }
}

.slider-btn {
  padding: 0;
  margin: 0;
  background-color: #fff;
  position: absolute;
  bottom: -45px;
  right: 0;
  cursor: pointer;
  z-index: 5;
  outline: none; //border
  svg {
    stroke: #000;
  }
  &__right {
    right: 60px;
  }
  &.slick-disabled {
    background-color: #000;
    svg {
      stroke: #fff;
    }
  }
}

.benefits {
  &_items {
    display: flex;
    flex-wrap: wrap;
  }
  &_item {
    margin-bottom: 100px;
    display: flex;
    align-items: flex-end;
    padding-left: 25px;
    &:nth-child(even) {
      margin-left: 40px;
      transform: translateY(25px);
    }
    &:nth-child(3) {
      margin-left: 30px;
    }
    &:nth-child(4) {
      margin-left: 40px;
    }
    &:first-child,
    &:nth-child(3) {
      position: relative;
      &::before,
      &::after {
        content: "";
        position: absolute;
        background-repeat: no-repeat;
        background-position: 0 0;
      }
    }
    &:first-child {
      &::before {
        height: 48px;
        width: 245px;
        background-image: url("../images/1-2.png");
        right: -63px;
        top: 31px;
      }
    }
    &:nth-child(3) {
      &::before {
        width: 254px;
        height: 39px;
        top: 65px;
        right: -55px;
        background-image: url("../images/3-4.png");
      }
      &::after {
        width: 463px;
        height: 62px;
        top: -70px;
        right: -54px;
        background-image: url("../images/2-3.png");
      }
    }
  }

  &_num {
    line-height: 41px;
    font-size: 36px;
    @extend %ubuntu-bold;
    margin-right: 10px;
  }
  &_img {
    position: relative;
    margin-right: 32px;
    &::before {
      content: "";
      position: absolute;
      width: 193px;
      height: 128px;
      border: 2px solid #fff;
      top: -12px;
      right: -12px;
      z-index: -1;
    }
  }
  &_info {
    width: 300px;
  }
  &_info-title {
    width: 137px;
    font-size: 21px;
    line-height: 24px;
    @extend %ubuntu-bold;
    margin-bottom: 10px;
  }
  &_info_text {
    font-size: 15px;
    line-height: 18px;
  }
}

.specification {
  &_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
  }
  &_item-center {
    margin-left: -15px;
    margin-right: -15px;
  }
  &_box {
    width: 280px;
    position: relative;
    margin-top: 10px;
    &::before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
    }
  }

  &_box-2 {
    margin-top: 140px;
  }

  &_box-4 {
    margin-top: 160px;
  }
  &_box-1::before {
    background-image: url("../images/pointer_1.svg");
    width: 229px;
    height: 114px;
    right: -140px;
    top: 16px;
  }
  &_box-2::before {
    background-image: url("../images/pointer_2.svg");
    width: 345px;
    height: 81px;
    right: -308px;
    top: -65px;
  }
  &_box-3::before {
    background-image: url("../images/pointer_3.svg");
    width: 258px;
    height: 103px;
    left: -299px;
    top: 16px;
  }
  &_box-4::before {
    background-image: url("../images/pointer_4.svg");
    width: 124px;
    height: 89px;
    left: -172px;
    top: -73px;
  }
  &_box-title {
    font-size: 21px;
    line-height: 28px;
    @extend %ubuntu-bold;
    margin-bottom: 10px;
  }
  &_box-text {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
  }
}

.questions {
  &_items {
    max-width: 757px;
    padding-bottom: 15px;
  }
  &_item {
    background-color: rgba(0, 0, 0, 0.3);
    max-width: 690px;
    position: relative;
    &:nth-child(3)::before {
      content: "";
      position: absolute;
      width: 319px;
      height: 125px;
      top: -33px;
      right: -386px;
      background-image: url("../images/half_mavic.png");
    }
  }
  &_item-title {
    min-width: 690px;
    line-height: 28px;
    font-size: 21px;
    @extend %ubuntu-medium;
    background-color: rgba(0, 0, 0, 0.3);
    color: rgba(#fff, 0.8);
    padding: 20px 40px 20px 40px;
    margin-bottom: 4px;
    position: relative;
    cursor: pointer;
    &::after {
      content: url("../images/arrov-down.svg");
      position: absolute;
      width: 72px;
      height: 67px;
      background-color: #fff;
      right: -72px;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &_item-text {
    padding: 0 5px 0 50px;
    font-size: 15px;
    line-height: 22px;
    margin: 0 0 4px;
    display: none;
    //visibility: hidden;
    //transition: all .3s;;
  }
  &_item.questions_item-active {
    .questions_item-title::after {
      transform: rotate(180deg);
    }
    .questions_item-text {
      //visibility: visible;
      display: block;
      height: 100%;
      padding: 0 5px 75px 50px;
    }
  }
}

.contacts {
  &_inner {
    display: flex;
    padding-left: 25px;
  }
  &_info {
    width: 240px;
    margin-right: 60px;
  }
  &_info_box {
    margin-bottom: 30px;
  }
  &_info-title {
    line-height: 24px;
    font-size: 21px;
    @extend %ubuntu-bold;
    margin: 10px 0 0 0;
  }
  &_info-email {
    line-height: 74px;
    font-size: 21px;
    @extend %ubuntu-bold;
    margin: 0 0 13px;
  }
  &_info_phone,
  &_info-email {
    font-size: 15px;
    line-height: 18px;
  }
  &_info-email:hover {
    text-decoration: underline;
  }
  &_form {
    width: 570px;
    margin-right: 106px;
  }
  &_form-title {
    line-height: 24px;
    font-size: 21px;
    @extend %ubuntu-bold;
    margin: 0 0 13px;
  }
  &_form-text {
    font-size: 15px;
    line-height: 18px;
    margin: 0 0 12px;
  }
  &_form-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  &_form-input,
  &_form-textarea {
    border: none;
    background: rgba(0, 0, 0, 0.5);
    @extend %ubuntu-regular;
    padding: 15px;
    font-size: 13px;
    line-height: 15px;
    &::plaseholder {
      color: rgba (#fff, 0.4);
    }
  }
  &_form-input {
    width: 49%;
  }
  &_form-textarea {
    min-height: 144px;
    width: 100%;
    resize: none;
  }
  &_form-btn {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    @extend %ubuntu-bold;
    border: 1px solid #ffffff;
    border-radius: 2px;
    padding: 9px 15px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
  &_sosial-list {
    display: flax;
    flex-direction: column;
    justify-content: center;
  }
  &_social-item {
    margin: 14px 0;
  }
  &_social-link {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}

.footer {
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
  &_copy {
    text-align: right;
    font-size: 13px;
    line-height: 15px;
    color: rgba(#fff, 0.64);
  }
}

@import "media";
