//@import "../../node_modules/normalize.css/normalize";
// @import "../../node_modules/slick-carousel/slick/slick";
// @import"../../node_modules/magnific-popup/dist/magnific-popup";
@import "vars";
@import "libs";
@import "fonts";
@import "media";
@import "global";

.header {
  position: fixed;
  z-index: 10;
  left: 0;
  top: 30px;
  right: 0;
  &_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    text-transform: uppercase;
    line-height: 17px;
    font-size: 15px;
    @extend %ubuntu-medium;
  }
  &_btn {
    color: #fff;
    background-color: transparent;
    padding: 6px 28px;
    border: 1px solid #fff;
    border-radius: 3px;
    margin-right: 8px;
    text-transform: uppercase;
    cursor: pointer;
    transform: all 0.3s;
    &:hover {
      color: #000;
      background-color: #fff;
    }
  }
  &_phone {
    font-size: 16px;
    line-height: 18px;
    @extend %ubuntu-bold;
  }
}

.menu {
  &_list-item {
    display: inline-block;
    & + .menu_list-item {
      // withouut first element!!!
      padding-left: 20px;
    }
  }
}

.top {
  background-image: url("../images/top_bg.png");
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(
      45.97% 54.43% at 50% 45.57%,
      rgba(23, 26, 28, 0) 50.28%,
      rgba(23, 26, 28, 0.00225974) 50.29%,
      rgba(4, 5, 5, 0.820343) 58.72%,
      rgba(5, 5, 6, 0.792703) 80.08%,
      #000000 87.89%
    );
    opacity: 0.4;
  }
  &_wrapper {
    display: flex;
    align-items: flex-end;
  }
  &_inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  &_title {
    line-height: 115px;
    font-size: 96px;
    @extend %sf-semibold;
    margin-bottom: 25px;
  }
  &_text {
    margin: 25px 0 35px;
    max-width: 325px;
  }
  &_social-item {
    display: inline-block;
    margin: 0 25px;
  }
  &_social-link {
    opacity: 0.5;
    transition: all 0.3s;
    &:hover {
      opacity: 1;
    }
  }
}

.products {
  &_inner {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
  }
  &_text {
    max-width: 440px;
    p {
      margin-bottom: 30px;
    }
  }
  &_slider-box {
    position: relative;
    padding-top: 110px;
  }
  &_slider-text {
    width: 285px;
    position: absolute;
    text-align: right;
    font-size: 24px;
    line-height: 28px;
    @extend %ubuntu-medium;
    bottom: 30px;
    left: -250px;
    z-index: 5;
  }
  &_slider {
    max-width: 560px;
  }
}

.slider-btn {
    padding: 0;
    margin: 0;

}
